<header class="page__header">

 <div class="containerLeft">  
      <nav class="menu">
        <a href="./index.html">
          <img src="./assets/images/logoLily.jpg" alt="Logo Liliana Rascón">
        </a>
        <a class="menuIni" href="./index.html">Inicio</a>
        <a class="menuProj" href="./indexProject.html">Proyectos</a>
        <a class="menuAbout" href="#titleDescription">Sobre mi</a>
        <a class="final" href="#titleContact">Contacto</a> 
        
        <span></span>
     </nav>
    </div>   
    
</header>
