<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Portafolio Liliana Rascón</title>
    <link rel="icon" href="./logoLily.png" />
    <link href="https://fonts.googleapis.com/css2?family=Mukta&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Akronim&family=Bad+Script&family=Fredericka+the+Great&family=Frijole&family=Monoton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Candal&family=Mukta+Malar:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e84dd5efc5.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;400&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>

  <body>
    <div class="page">
      <partial src="_header.html" title="Portafolio Liliana Rascón"></partial>
      <partial src="_main.html" label="Main"></partial>
      <partial src="_hero.html" label="hero"></partial>
      <partial src="_contact.html" label="contact"></partial>
      <partial src="_footer.html"></partial>
    </div>
  </body>

</html>
